Repository koralle/front-end-tech-memo: changes, and which lefthook commands are due for each by the changed paths.
All: astro-check, format

astro-check:
  run: pnpm astro check {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm prettier -w {staged_files}
  stage_fixed: true

feat: add `/react/remix/try-tutorial`
  src/content/docs/react/remix/try-tutorial.mdx
Due: astro-check, format

feat: add `/typescript/tsup`
  src/content/docs/typescript/tsup.mdx
Due: astro-check, format

feat: add `/uiux/what-is-design-system` page
  src/content/docs/uiux/what-is-design-system.mdx
Due: astro-check, format

feat: update Top Page
  src/content/docs/index.mdx
Due: astro-check, format

chore: ran format
  src/content/docs/vue/chibibue/index.mdx
Due: astro-check, format

chore(gitattributes): add `webp`
  .gitattributes
Due: none

chore(gitattributes): set `linguist-detectable=false` to `*.mdx`
  .gitattributes
Due: none

ci: update `deploy.yaml`
  .github/workflows/deploy.yaml
Due: format

feat: add `/css/selectors/backdrop` page
  src/content/docs/css/selectors/backdrop.mdx
Due: astro-check, format

feat: add `/css/modern-button-hover-style` page
  src/content/docs/css/modern-button-hover-style.mdx
Due: astro-check, format

chore(deps): add -D `rollup-plugin-visualizer`
  package.json
  pnpm-lock.yaml
Due: astro-check, format

feat: change output format as static
  astro.config.mjs
Due: astro-check

feat: add /uiux/how-to-implement-modal page
  src/content/docs/uiux/how-to-implement-modal.mdx
Due: astro-check, format

fix: executed format
  src/content/docs/css/modern-button-hover-style.mdx
Due: astro-check, format

Path conditions:
  astro-check: any of: *.{ts,cts,mts,tsx,js,cjs,mjs,jsx,json,md,mdx,astro}
  format: any of: *.{ts,tsx,js,jsx,json,md,mdx,yaml,yml,astro}
